
body {
    background-color: #d3f2d5;
    font-family: arial
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    align-items: flex-start;
    margin:auto;
   
}

#border {
    border: 1em;
    border-style: groove;
    text-align: center;
    padding: 3%;
    margin-left: 3%;
    margin-right: 0%;
    margin-top:0%;
    color: white;
    background-color: black;
    border-color: grey;
    border-radius: 10%;
    position: fixed;
    

    

}

.flex-1 {
    flex:1
}

.flex-2 {
    flex:4;
}

.sep-line {
    height: 5px ; 
    color:rgb(144, 82, 139);
     background-color: rgb(144, 82, 139)
}

.centered {
    text-align: center;
}

#opening-para {
    font-family: Georgia;
    text-align: center;
}