
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    background-color: #c9e1d8;
    font-family: arial
}

h1 {
    margin: 0.4em;
}

h2 {
    margin: 0.5em;
    text-decoration: wavy;
}

h3 {
    margin-inline-start: 5em;
    margin-inline-end: 5em;
    font-weight: bold;
}

p {
    margin: 0.5em;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

ol {
    padding-left: 1em;
    list-style-position: inside;
}

ul {
    padding-left: 3em;
}

section {
    display: flex;
    align-items: flex-start;
    margin:auto;
   
}


.basic-border {
    text-align: center;
    border: 1em;
    border-style: ridge;
    padding: 2%;
    margin: 1em;
    flex: 1
}

#border {
    border: 1em;
    border-style: groove;
    text-align: center;
    padding: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top:0%;
    font-size: 3vw;
    color: white;
    background-color: black;
    border-color: grey;
    border-radius: 10%;
    position: fixed;
    width: 64%;
}




.flex-2 {
    flex:1;
}

.sep-line {
    height: 5px ; 
    color:black;
     background-color: black;
}

.centered {
    text-align: center;
}

#opening-para {
    font-family: cursive;
    text-align: center;
    margin: 0.8em;
    font-size: 1.5em;   
}

.links {
    color: #430e42;
    text-decoration: none
}

.links:hover {
    color: #000ed8
}

.THG-pic{
    width: 340px;
    
}

#extra-border {
    margin-inline-start: 25vw;
    margin-inline-end: 25vw;
    margin-top: 0.5vw;
    
}

#caption {
    margin:0.25em;
}

#joe_pic {
    margin-left: 1em;
}

.new-pg-headers {
    text-align: center;
    text-decoration: underline;
}

